<h2>Create a New User</h2>

<%= form_with model: @user, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name, required: true %><br>
  <%= form.label :email %>
  <%= form.text_field :email, required: true %><br>
  <%= form.label :password_1 %>
  <%= form.text_field :password_1, required: false %><br>
  <%= form.label :password_2 %>
  <%= form.text_field :password_2, required: false %><br>
  <%= form.submit "Create New User" %>
<% end %>
