<h1>Log In</h1>

<%= form_with url: "/login", method: :post, local: true do |form| %>
  <%= form.label :email, "Email:" %>
  <%= form.text_field :email, required: true %><br>
  <%= form.label :password, "Password:" %>
  <%= form.text_field :password, required: true %><br>
  <%= form.submit "Log In" %>
<% end %>
